body{
  background-color: black !important;
  color: white;
}


/* stylelint-disable selector-list-comma-newline-after */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
  color: goldenrod;;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
  color: goldenrod;;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: black;
  border-top: .05rem double goldenrod;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*********My css*********/
/* ===== Scrollbar CSS ===== */
*{
overflow-x: none;
}
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #daa520 #000000;
    scrollbar-width: none;

  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    overflow-x:none;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #daa520;
    border-radius: 20px;
    border: 10px double black;
  }
#loader {
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#video{
  object-fit: cover;
  width: 100%;
  height: 100%;
} 
#links {
  color: goldenrod;
}
#icono-left{
  width: 50px;
  height: 72px;
  position: absolute;
  left: 25%;
  top: 0;
  padding: 5px;
  ;

}
#icono-rigth{
  width: 45px;
  position: absolute;
  right: 25%;
  top: 0;
  padding: 5px;

}
#showImg{
  background-image:url(../img/logo.jpg) ;
  background-position: center;
  background-size: cover;
}
#cards{
  color: goldenrod;
}
.responsiveimg{
  height: 250px;
  width: 250px;
  object-fit: fill;
  border-radius: 15%;

}
#Articles{
  text-align:justify;
}
.table{
  align-items: center;
}
.cabeza{
  color: goldenrod;
  text-align: center;
}
.cuerpo{
  text-align: center;
  color: white;
}
#Artistes{
  display: inline-flex;
  
}
.time{
  margin-left: 1%;
  max-width: 80%;
  height: 80%;
  padding: 2.5px;
  align-self: center;  
  border: goldenrod 0.5px dotted;
 
}
#sidebar{
  background-color:black;
}